﻿
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutAngle.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        Pagina Principal
        <small data-localize="dashboard.WELCOME"></small>
    </div>
    <div class="panel-body">
        Contenido pagina principal
        fdjflkadsjf
        dfads
        sadf
        dsf
        as
    </div>
    
</div>




 <!--
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Index2</h1>
    </div>
   
</div> -->