﻿@model Unicefuy.Models.Usuario
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    //this  is for create form tag
    @Html.AntiForgeryToken()          
    // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default" style="width: 400px;">
            <div class="panel-heading" style="width: 398px; ">
                <img src="~/Images/logoUnicef.jpg" />
                @*<h3 class="panel-title">Proyecto Consangre - Ingreso</h3>*@
            </div>
            <div class="panel-body">
                @*<form role="form">
                    <fieldset>*@
                <div class="form-group">
                    <input class="form-control" placeholder="Usuario" data-val="true" data-val-required="Por favor ingrese su usuario" id="UsuarioNombre" name="UsuarioNombre" type="text" value="" autofocus="" />
                    <br />
                    @Html.ValidationMessageFor(a => a.UsuarioNombre)
                    @*<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">*@
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Clave" data-val="true" data-val-required="Por favor ingrese su clave" id="UsuarioClave" name="UsuarioClave" type="password" value="" /> <br />
                    @Html.ValidationMessageFor(a => a.UsuarioClave)
                    @*<input class="form-control" placeholder="Password" name="password" type="password" value="">*@
                </div>

                <!-- Change this to a button or input when using this as a form -->
                @* <a href="" class="btn btn-lg btn-success btn-block">Login</a>*@
                <input class="form-control" type="submit" value="Login" />

                @* </fieldset>
                    </form>*@
            </div>
        </div>
 </div>
        }
