﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutAngle.cshtml";
}

<div class="panel">
    <div class="panel-heading">Busqueda de Leads</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                
                <div class="col-md-4">
                    <label>Apellido</label>
                    <input placeholder="Ingrese apellido.." class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                
                <div class="col-md-4">
                    <label>Nombre</label>
                    <input placeholder="Ingrese nombre.." class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>DNI</label>
                    <input placeholder="Ingrese numero.." class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Telefono</label>
                    <input placeholder="Ingrese numero.." class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Celular</label>
                    <input placeholder="Ingrese numero.." class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>E-mail</label>
                    <input placeholder="Ingrese email.." class="form-control" type="email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Donador ID</label>
                    <input placeholder="Ingrese numero.." class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-4 col-lg-10">
                    <button type="submit" class="btn btn-sm btn-default">Buscar</button>
                </div>
            </div>
            
            
        </form>
    @*</div>*@

    @*GRILLA*@

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Data Tables |
                <small>Zero Configuration + Export Buttons</small>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="datatable1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="html5buttons"><div class="dt-buttons btn-group"><a class="btn btn-default buttons-copy buttons-html5 btn-sm" tabindex="0" aria-controls="datatable1" href="#"><span>Copy</span></a><a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="datatable1" href="#"><span>CSV</span></a><a class="btn btn-default buttons-excel buttons-flash btn-sm" tabindex="0" aria-controls="datatable1" href="#"><span>Excel</span><div style="position: absolute; left: 0px; top: 0px; width: 55px; height: 32px; z-index: 99;"><embed id="ZeroClipboard_TableToolsMovie_1" src="//cdn.datatables.net/buttons/1.2.4/swf/flashExport.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboard_TableToolsMovie_1" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=55&amp;height=32" wmode="transparent" width="55" height="32" align="middle"></div></a><a class="btn btn-default buttons-pdf buttons-flash btn-sm" tabindex="0" aria-controls="datatable1" href="#"><span>PDF</span><div style="position: absolute; left: 0px; top: 0px; width: 48px; height: 32px; z-index: 99;"><embed id="ZeroClipboard_TableToolsMovie_2" src="//cdn.datatables.net/buttons/1.2.4/swf/flashExport.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboard_TableToolsMovie_2" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=2&amp;width=48&amp;height=32" wmode="transparent" width="48" height="32" align="middle"></div></a><a class="btn btn-default buttons-print btn-sm" tabindex="0" aria-controls="datatable1" href="#"><span>Print</span></a></div></div><div class="dataTables_length" id="datatable1_length"><label><select name="datatable1_length" aria-controls="datatable1" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div><div id="datatable1_filter" class="dataTables_filter"><label>Search all columns:<input class="form-control input-sm" placeholder="" aria-controls="datatable1" type="search"></label></div><div class="dataTables_info" id="datatable1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div><table id="datatable1" class="table table-striped table-hover dataTable no-footer dtr-inline" aria-describedby="datatable1_info" role="grid" style="width: 1060px;">
                            <thead>
                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 182px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Rendering engine</th><th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 221px;" aria-label="Browser: activate to sort column ascending">Browser</th><th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 201px;" aria-label="Platform(s): activate to sort column ascending">Platform(s)</th><th class="sort-numeric sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 156px;" aria-label="Engine version: activate to sort column ascending">Engine version</th><th class="sort-alpha sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 110px;" aria-label="CSS grade: activate to sort column ascending">CSS grade</th></tr>
                            </thead>
                            <tbody>

























































                                <tr class="gradeA odd" role="row">
                                    <td tabindex="0" class="sorting_1">Gecko</td>
                                    <td>Firefox 1.0</td>
                                    <td>Win 98+ / OSX.2+</td>
                                    <td>1.7</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA even" role="row">
                                    <td tabindex="0" class="sorting_1">Gecko</td>
                                    <td>Firefox 1.5</td>
                                    <td>Win 98+ / OSX.2+</td>
                                    <td>1.8</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA odd" role="row">
                                    <td tabindex="0" class="sorting_1">Gecko</td>
                                    <td>Firefox 2.0</td>
                                    <td>Win 98+ / OSX.2+</td>
                                    <td>1.8</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA even" role="row">
                                    <td tabindex="0" class="sorting_1">Gecko</td>
                                    <td>Firefox 3.0</td>
                                    <td>Win 2k+ / OSX.3+</td>
                                    <td>1.9</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA odd" role="row">
                                    <td class="sorting_1" tabindex="0">Gecko</td>
                                    <td>Camino 1.0</td>
                                    <td>OSX.2+</td>
                                    <td>1.8</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA even" role="row">
                                    <td class="sorting_1" tabindex="0">Gecko</td>
                                    <td>Camino 1.5</td>
                                    <td>OSX.3+</td>
                                    <td>1.8</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA odd" role="row">
                                    <td class="sorting_1" tabindex="0">Gecko</td>
                                    <td>Netscape 7.2</td>
                                    <td>Win 95+ / Mac OS 8.6-9.2</td>
                                    <td>1.7</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA even" role="row">
                                    <td class="sorting_1" tabindex="0">Gecko</td>
                                    <td>Netscape Browser 8</td>
                                    <td>Win 98SE+</td>
                                    <td>1.7</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA odd" role="row">
                                    <td class="sorting_1" tabindex="0">Gecko</td>
                                    <td>Netscape Navigator 9</td>
                                    <td>Win 98+ / OSX.2+</td>
                                    <td>1.8</td>
                                    <td>A</td>
                                </tr>
                                <tr class="gradeA even" role="row">
                                    <td class="sorting_1" tabindex="0">Gecko</td>
                                    <td>Mozilla 1.0</td>
                                    <td>Win 95+ / OSX.1+</td>
                                    <td>1</td>
                                    <td>A</td>
                                </tr>
                            </tbody>
                        </table><div class="dataTables_paginate paging_simple_numbers" id="datatable1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="datatable1_previous"><a href="#" aria-controls="datatable1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="datatable1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="datatable1" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="datatable1" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="datatable1" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="datatable1" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="datatable1" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="datatable1_next"><a href="#" aria-controls="datatable1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*FIN GRILLA*@
 </div>
</div>